
@{
    ViewBag.Title = "EditarPlan";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


    <div class="container fefe">
        <input type="hidden" id="folioplanparaeditar" name="name" value="@ViewData["foliotrabajo"]" />
        <!-- contenedor -->
        <img src="Contenido/images/lojeje.png" class="user-image imagelat" alt="User Image">
        <div class="row mx-4 pt-5 ">
            <!--conten -->
            <div id="regForm" class="col-md-9 col-sm-9">
                <h4>Editar plan de trabajo @ViewData["foliotrabajo"] </h4>
                <div style="text-align:center;margin-top:40px;">
                    <ul class="nav nav-tabs">
                        <!-- onclick="link(0); href="#DatosBasicos""  -->
                        <li> <button class="step" id="1" name="DatosBasicos">Datos Básicos</button></li>
                        <!-- onclick="link(1);"  -->
                        <li> <button class="step" id="2" name="Temporalidades">Temporalidades</button></li>

                        <!-- onclick="link(2);"  -->
                        <li> <button class="step" id="3" name="centrosTrabajo">Centros de trabajo</button></li>
                        <!-- onclick="link(3);"  -->
                        <li> <button class="step" id="4" name="empleados">Empleados</li></button>
                        <!--<li> <button class="step" id="5" onclick="link(4);" name="actividades" >Actividades</button></li>
                    <li> <button class="step" id="6" onclick="link(5);" name="revisarCrear" >Revisar y crear</button></li>-->
                        <!-- onclick="link(4);"  -->
                        <!--<li> <button class="step" id="5"  name="revisarCrear" >Revisar y crear</button></li>-->
                        <li> <button class="step" id="5" name="actividades">Misión</button></li>
                        <li> <button class="step" id="6" name="revisarCrear">Revisar y crear</button></li>
                    </ul>
                </div>
                <div class="tab" nombreTab="DatosBasicos" id="DatosBasicos">
                    <!-- =========== DATOS BASICOS ====== -->
                    <div class="container contNewPl">
                        <div class="row">
                            <div class="col-md-8 col-lg-5">
                                <div class="form-group">
                                    <label>Selecciona la marca</label>
                                    <select class="form-control seledos" style="width: 100%;" id="select2marca">
                                        <option value=" ">Selecciona una marca</option>

                                    </select>
                                    <small class="form-text text-muted mensajevalidacionmarca mensajevalidacionsmall "></small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-lg-5">
                                <div class="form-group">
                                    <label>Selecciona la campaña</label>
                                    <select class="form-control " style="width: 100%;" id="select2proyecto">
                                        <option value=" ">Selecciona una campaña</option>

                                    </select>
                                    <small class="form-text text-muted mensajevalidaciocampania mensajevalidacionsmall"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-lg-5">
                                <div class="form-group">
                                    <label for="usr">Agrega un nombre al plan de trabajo:</label>
                                    <input type="text" class="form-control" id="inputdescplantrabajo">
                                    <small class="form-text text-muted mensajevalidacionnombreplan mensajevalidacionsmall"></small>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                          <label>Seleccionar el día inicial:</label>
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                             <input type="text" class="form-control pull-right datepicker" >
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                          <div class="form-group">
                          <label>Seleccionar el día final:</label>
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                             <input type="text" class="form-control pull-right datepicker" >
                          </div>
                        </div>
                      </div>
                    </div>-->
                    </div>
                    <!-- =========== DATOS BASICOS ====== -->
                </div>

                <div class="tab tabtemporalidades" nombreTab="Temporalidades">
                    <!-- =========== TEMPORALIDADES ====== -->

                    <button class="btn btn-info btn-sm agregaicon botonagregar" id="agregarTemp">Agregar Temporalidad</button>

                    <div class="container contNewPl">
                        <div class="row renglontem">
                            <div class="col-md-1 elcarouizq">

                            </div>
                            <div class="col-md-7 elcarou">
                                <div class="box-body">
                                    <!--<div id="carousel-example-generic" class="carousel slide" data-interval="false" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                </ol>
                                  <div class="carousel-inner">
                                    <div class="item active untemporizador" id="untemporizador1">
                                      <button class="btn btn-danger eliminarTem btn-sm" id="eliminarTem1" >Eliminar Temporalidad </button>
                                      <div class="container-fluid contenedorprincipla">
                                        <div class="row">
                                          <div class="col-md-5">
                                            <div class="form-group">
                                              <label for="tempInputDesc1">Nombre:</label>
                                              <input type="text" class="form-control" id="tempInputDesc1">
                                            </div>
                                          </div>
                                          <div class="col-md-7">
                                              <div class="form-group">
                                              <label>Día inicial y final:</label>
                                              <div class="input-group">
                                                <div class="input-group-addon">
                                                  <i class="fa fa-clock-o"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right reservationtime" id="tempInputDiaFinalInicial1">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-12">
                                            <label>Días que aplica :</label>
                                            <label class="checkbox-inline chklunes1 "><input type="checkbox" value="1">Lu</label>
                                            <label class="checkbox-inline chkmartes1"><input type="checkbox" value="1">Ma</label>
                                            <label class="checkbox-inline chkmiercoles1"><input type="checkbox" value="1">Mie</label>
                                            <label class="checkbox-inline chkjueves1"><input type="checkbox" value="1">Ju</label>
                                            <label class="checkbox-inline chkviernes1"><input type="checkbox" value="1">Vi</label>
                                            <label class="checkbox-inline chksabado1"><input type="checkbox" value="1">Sa</label>
                                            <label class="checkbox-inline chkdomingo1"><input type="checkbox" value="1">Do</label>
                                          </div>

                                          <div class="col-md-12">
                                            <br>
                                            <button class="btn btn-outline-primary btn-sm agregarCentroTrabajoTem" id="agregarCentroTrabajoTem1">Agregar Centro de trabajo</button>
                                            <br>
                                          </div>
                                        </div> -->
                                    <!-- marca de desarrollo agregar centro de trabajo  -->
                                    <!--<div class="row rengloncentrotrabajotempo" id="rengloncentrotrabajotempo1">
                                <h5 class="tituloren">Centros de trabajo</h5>
                                <div class="col-md-8 frfr">
                                  <div class="panel-group" id="accordion">

                                    <div class="panel panel-default uncentrotrabajotemporizador" id="uncentrotrabajotemporizador1">
                                      <div class="panel-heading">
                                        <h6 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" folioCentroTrabajo="">
                                          Soriana Echegaray</a>
                                        </h6>
                                        <button type="button" class="btn btn-danger btn-sm eliminarcentrotrabajoTemporalidad" id="eliminarcentrotrabajoTemporalidad1" >
                                          <i class="fa fa-times"></i>
                                        </button>
                                      </div>
                                      <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body container-fluid contenedorempleadocentrotrabajotem">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <button class="btn btn-sm btn-outline-warning agregarEmpleadoCentroTrabajoTem" id="agregarEmpleadoCentroTrabajoTem1">Agregar Empleado</button>
                                            </div>
                                          </div>-->
                                    <!--<div class="row renglonempleadocentrotrabajotempo">
                                  <h5 class="tituloren">Empleados</h5>
                                  <div class="col-md-6 frfr">
                                    <table class="table table-condensed tableespeci">
                                      <tbody>
                                        <tr class="unempleadocentrotrabajotemporizado" id="unempleadocentrotrabajotemporizado1">
                                          <td><label class="labelformu">Alejandra Martinez</label></td>
                                          <td><button class="btn btn-sm btn-danger eliminarempleadocentrotrabajoTem" id="eliminarempleadocentrotrabajoTem1"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                        </tr>
                                        <tr>
                                          <td><label class="labelformu">Alejandra Martinez</label></td>
                                          <td><button class="btn btn-sm btn-danger eliminarempleadocentrotrabajoTem" id="eliminarempleadocentrotrabajoTem1"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>-->
                                    <!-- </div>
                                  </div>
                                </div>

                                <div class="panel panel-default uncentrotrabajotemporizador" id="uncentrotrabajotemporizador2">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" folioCentroTrabajo="">
                                      Walmart toreo</a>
                                    </h4>
                                    <button type="button" class="btn btn-sm btn-danger eliminarcentrotrabajoTemporalidad" id="eliminarcentrotrabajoTemporalidad2" >
                                      <i class="fa fa-times"></i>
                                    </button>
                                  </div>
                                  <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body container-fluid contenedorempleadocentrotrabajotem">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <button class="btn btn-sm btn-outline-warning agregarEmpleadoCentroTrabajoTem" id="agregarEmpleadoCentroTrabajoTem2">Agregar Empleado</button>
                                        </div>
                                      </div>-->
                                    <!--<div class="row renglonempleadocentrotrabajotempo">
                                  <h5 class="tituloren">Empleados</h5>
                                  <div class="col-md-6 frfr">
                                    <table class="table table-condensed tableespeci">
                                      <tbody>
                                        <tr>
                                          <td><label class="labelformu">Alejandra Martinez</label></td>
                                          <td><button class="btn btn-sm btn-danger eliminarempleadocentrotrabajoTem" id="eliminarempleadocentrotrabajoTem1"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                        </tr>
                                        <tr>
                                          <td><label class="labelformu" clvemp="985">Alejandra Martinez</label></td>
                                          <td><button class="btn btn-sm btn-danger eliminarempleadocentrotrabajoTem" id="eliminarempleadocentrotrabajoTem1"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>-->
                                    <!--</div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                </div>  -->
                                    <!--</div>
                                    </div>
                                  </div>
                                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="fa fa-angle-left"></span>
                                  </a>
                                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="fa fa-angle-right"></span>
                                  </a>
                                 <button class="btn btn-info iratras btn-sm" > <i class="fa fa-angle-left"></i></button>
                                  <button class="btn btn-info irfre btn-sm" > <i class="fa fa-angle-right"></i></button>
                                </div>-->
                                </div>
                            </div>
                            <div class="col-md-1 elcarouder">
                            </div>
                        </div>
                    </div>
                    <!-- =========== TEMPORALIDADES ====== -->
                </div>

                <div class="tab tabcentrotrabajo" nombreTab="centrosTrabajo">
                    <!-- =========== CENTROS DE TRABAJO ====== -->


                    <div class="container contNewPl">
                        <button class="btn btn-info btn-sm botonagregar" id="agregaCentroTrabajo">Agregar Centro de Trabajo</button>
                        <button class="btn btn-info btn-sm botonagregar" id="agregaCentroTrabajogrupo">Agregar Grupo de Centros de Trabajo</button>
                        <button class="btn btn-sm btn-success "><i class="fa fa-file-excel-o"></i> Importar Centros de trabajo</button>
                        <!--<div class="row renglonCentroTrabajo">
                      <h5 class="tituloren">Centros de trabajo</h5>
                        <div class="col-md-6">
                            <div class="col-md-8">
                              <table class="table ">
                                <tbody>
                                  <tr class="uncentrotrabajo" id="uncentrotrabajo1">
                                    <td><label class="labelformu" foliocentrotrabajo="">Soriana Echegaray</label></td>
                                    <td><button class="btn btn-sm btn-danger eliminarcentrotrabajo" id="eliminarcentrotrabajo1"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>-->
                    </div>
                    <!-- =========== CENTROS DE TRABAJO ====== -->


                </div>

                <div class="tab tabempleado" nombreTab="empleados">
                    <!-- =========== EMPLEADOS ====== -->
                    <div class="container contNewPl">
                        <button class="btn btn-info btn-sm botonagregar" id="agregaempleado">Agregar Empleado</button>
                        <button class="btn btn-info btn-sm botonagregar" id="agregaempleadogrupo">Agregar Grupo de Empleados</button>
                        <button class="btn btn-sm btn-success "><i class="fa fa-file-excel-o"></i> Importar Empleados</button>
                        <!--<div class="row renglonempleado">
                      <h5 class="tituloren">Centros de trabajo</h5>
                        <div class="col-md-6">
                            <div class="col-md-8">
                              <table class="table ">
                                <tbody>
                                  <tr class="unempleado" id="unempleado1">
                                    <td><label class="labelformu" clvempleado="">Soriana Echegaray</label></td>
                                    <td><button class="btn btn-sm btn-danger eliminarempleado" id="eliminarempleado1"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>-->
                    </div>
                    <!-- =========== EMPLEADOS ====== -->

                </div>

                <div class="tab tabactividades" nombreTab="actividades">
                    <!-- =========== EMPLEADOS ====== -->
                    <div class="container contNewPl">
                        <button class="btn btn-info btn-sm botonagregar" id="agregaactividad">Agregar Misión</button>
                        <div class="row renglonactividades">
                            <h5 class="titulorent">Misiones</h5>
                            <div class="col-md-6">
                                <div class="col-md-8">
                                    <table class="table tableactividades">
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- =========== EMPLEADOS ====== -->

                </div>

                <div class="tab" nombreTab="revisarCrear">
                    <!-- =========== REVISAR Y CREAR ====== -->
                    <div class="container contNewPl contentrevi">
                        <!--<div class="row">
                        <div class="col-md-8">
                            <table class="table  tableavisaryvrearuno">
                                <tr>
                                    <th><label>nombre temporalidad </label> </th>
                                    <th><label>Fecha inicio </label> </th>
                                    <th><label>dias  </label> </th>
                                    <th><label> 4Centro de trabajo</label></th>
                                    <th><label> 20 Empleado</label></th>
                                    <th><a class="verdetal" data-toggle="collapse" data-target="#demo1">Ver Detalles</a></th>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="row collapse" id="demo1">
                        <div class="col-md-8">
                            Lorem ipsum dolor text....  Lorem ipsum dolor text....  Lorem ipsum dolor text....  Lorem ipsum dolor text....  Lorem ipsum dolor text....  Lorem ipsum dolor text....  Lorem ipsum dolor text....  Lorem ipsum dolor text....
                        </div>
                    </div>-->
                        <div class="row renglonrevisionproyecto">
                            <div class="col-md-8">
                                <h5 class="titulorenta">Revisión de la configuración del plan de trabajo</h5>
                            </div>

                            <div class="col-md-8 table-wrapper-scroll-y my-custom-scrollbar">

                                <table class="table tableavisaryvrear ">
                                    <thead>
                                        <tr>
                                            <th><label>Temporalidad </label> </th>
                                            <th><label>Fecha </label> </th>
                                            <th><label>Días </label> </th>
                                            <th><label>Centro de trabajo</label></th>
                                            <th><label>Empleado</label></th>
                                            <th><label>Misión</label></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- =========== REVISAR Y CREAR ====== -->

                </div>
            </div>
            <div class="col-md-3" id="panelResumenAltaPlan">
                <h5>Resumen </h5>
                <table class="table tableresumen">
                    <tbody>
                        <tr>
                            <td style="width: 95px"><label class="labelresumen">Marca :</label></td>
                            <td><small class="labelg marcaseleccionadaresumen"></small></td>
                        </tr>
                        <tr>
                            <td style="width: 95px"><label class="labelresumen">Campaña :</label></td>
                            <td><small class="labelg campaniaseleccionadaresumen"></small></td>
                        </tr>
                        <tr>
                            <td style="width: 95px"><label class="labelresumen">Nombre del Plan: </label></td>
                            <td><small class="labelg nombreplanseleccionadoresumen"></small></td>
                        </tr>
                        <tr>
                            <td style="width: 95px"><label class="labelresumen">Fecha Inicio :</label></td>
                            <td><small class="labelg fechainicioseleccionadoresumen"></small></td>
                        </tr>
                        <tr>
                            <td style="width: 95px"><label class="labelresumen">Fecha Fin :</label></td>
                            <td><small class="labelg fechafinseleccionadoresumen"></small></td>
                        </tr>
                    </tbody>
                </table>
                <h5>Empleados por centro de trabajo</h5>
                <table class="table tableresumenempleado">
                    <thead>
                        <tr>
                            <th><label>Puesto</label> </th>
                            <th><label>Cantidad</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                        <td ><label class="labelresumenempleado">Marca :</label></td>
                        <td><small class="labelg labelresumenempleado"></small></td>
                    </tr>-->

                    </tbody>
                </table>
                <h5>Requisitos por empleado</h5>
                <table class="table tableresumenempleadorequisitos">
                    <thead>
                        <tr>
                            <th><label>Puesto</label> </th>
                            <th><label>Requisito</label> </th>
                            <th><label>Valor o rango</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                        <td ><label class="labelresumenempleado">Marca :</label></td>
                        <td><small class="labelg labelresumenempleado"></small></td>
                    </tr>-->

                    </tbody>
                </table>
                <div class="progress" id="baraprogresoconfigurar">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100">

                    </div>
                </div>
                <div class="contenaviso">
                    <div class="alert  alertalateral" role="alert">  </div>
                </div>
                <!-- <button type="button" class="btn btn-primary" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Now hover out.">
                Hover over me
            </button>-->
                <!--<button class="btn btn-success mandarDatos">fgfgf</button>
            <button class="btn btn-success " id="mostrarmodalcentrostrabajo">centros</button>-->
            </div>
        </div>
        <div class="row gegege">
            <div class="col-md-3">
                <a href="MisPlanes" class="btn btn-danger btn-block btn-sm">Cancelar Plan</a>
                <!-- <button type="button" id="" class="btn btn-danger btn-block btn-sm">Cancelar</button>-->
            </div>

            <div class="col-md-3">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-info btn-block btn-sm">Anterior</button>
            </div>
            <div class="col-md-3">
                <button type="button" id="nextBtn" class="btn btn-info btn-block btn-sm" onclick="nextPrev(1)">Siguiente</button>
            </div>
            <div class="col-md-3">

            </div>
        </div>

    </div>

<!--<div class="container mt-3 fijobottom fixed-bottom">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
       <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-info btn-block">Anterior</button>
    </div>
    <div class="col-md-3">
      <button type="button" id="nextBtn" class="btn btn-info btn-block" onclick="nextPrev(1)">Siguiente</button>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>-->
<!-- ================================= =============  -->
    </div>

<!--<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>

        Copyright &copy; 2019 ANTAD All rights
        reserved.
</footer>-->
<!-- The modal -->
<div class="modal fade modalwebantad" id="modalagregarcentrotrabajo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>-->
                <h4 class="modal-title" id="modalLabel">Agregar Centro de Trabajo</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Selecciona el centro de trabajo</label>
                                <select class="form-control seledos" style="width: 100%;" id="select2centrotrabajo">
                                    <option value="">Selecciona un centro de trabajo</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed tablacentrotrabajo">
                                <tbody>
                                    <!--<tr>
                                      <td><label class="labelformu centrotrabajomodal" foliocetrotrabajo="">Soriana Echegaray</label></td>
                                      <td><button class="btn btn-sm btn-danger eliminarcentrotrabajomodal" id="eliminarcentrotrabajomodal1"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-info " id="agregarcentrosdetrabajomodal">Agregar</a>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade modalwebantad" id="modalagregarcentrotrabajogrupo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Agregar Agrupación de Centros de Trabajo</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table tableagrupacioncentrotrabajotem">
                                <thead>
                                    <tr>
                                        <th><label>Nombre</label> </th>
                                        <th><label>Tipo</label></th>
                                        <th><label>Agregar</label></th>
                                        <th><label>Detalle</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label>Ruta Frecuente</label></td>
                                        <td><label>Agencia</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregargrupocentrotem" grupocentrotrabajo="group1">Agregar</button> </label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Ruta MAFER </label></td>
                                        <td><label>Ruta de cliente</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregargrupocentrotem" grupocentrotrabajo="group2">Agregar</button> </label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Ruta KACANG </label></td>
                                        <td><label>Ruta de proyecto</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregargrupocentrotem" grupocentrotrabajo="group3">Agregar</button> </label></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                    <!--<a href="#" class="btn btn-info " id="agregarcentrosdetrabajomodal">Agregar</a>-->
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade modalwebantad" id="modaldetallegrupocentrotrabajo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Detalle del Grupo : <small class="nombrecentrotra"></small> </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table tablemodaldetallegrupocentrotrabajo">
                                <thead>
                                    <tr>
                                        <th><label>Descripción</label> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr>
                                        <td><label>Ruta Frecuente</label></td>
                                    </tr>-->
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cerrar</a>
                    <!--<a href="#" class="btn btn-info " id="agregarcentrosdetrabajomodal">Agregar</a>-->
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade modalwebantad" id="modaldetallegrupoempleado" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Detalle del Grupo : <small class="nombreempleadogru"></small> </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table tablemodaldetallegrupoempleado">
                                <thead>
                                    <tr>
                                        <th class="tipoencabezado" style="width:75px;">No de empleado</th>
                                        <th class="tipoencabezado">Nombre</th>
                                        <th class="tipoencabezado">Genero</th>
                                        <th class="tipoencabezado" style="width:45px;">Calificación</th>
                                        <th class="tipoencabezado">Puesto</th>
                                        <th class="tipoencabezado">Estado</th>
                                        <th class="tipoencabezado">Municipio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cerrar</a>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- The modal -->
<div class="modal fade modalwebantad" id="modalagregarcentrotrabajosolo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>-->
                <h4 class="modal-title" id="modalLabel">Agregar Centro de Trabajo</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Selecciona el centro de trabajo</label>
                                <select class="form-control seledos" style="width: 100%;" id="select2centrotrabajosolo">
                                    <option value="">Selecciona un centro de trabajo</option>


                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed tablacentrotrabajossolo">
                                <tbody>
                                    <!--<tr>
                                      <td><label class="labelformu centrotrabajomodalsolo" foliocetrotrabajo="">Soriana Echegaray</label></td>
                                      <td><button class="btn btn-sm btn-danger eliminarcentrotrabajomodalsolo" id="eliminarcentrotrabajomodal1"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-info " id="agregarcentrotrabajomodal">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modalwebantad" id="modalagregarcentrotrabajogruposolo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Agregar Agrupación de Centros de Trabajo</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table tableagrupacioncentrotrabajosolo">
                                <thead>
                                    <tr>
                                        <th><label>Nombre</label> </th>
                                        <th><label>Tipo</label></th>
                                        <th><label>Agregar</label></th>
                                        <th><label>Detalle</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label>Ruta Frecuente</label></td>
                                        <td><label>Agencia</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregargrupocentrosolo" grupocentrotrabajosolo="">Agregar</button> </label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Ruta MAFER </label></td>
                                        <td><label>Ruta de cliente</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregargrupocentrosolo" grupocentrotrabajosolo="">Agregar</button> </label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Ruta KACANG </label></td>
                                        <td><label>Ruta de proyecto</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregargrupocentrosolo" grupocentrotrabajosolo="">Agregar</button> </label></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                    <!--<a href="#" class="btn btn-info " id="agregarcentrosdetrabajomodal">Agregar</a>-->
                </div>

            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade modalwebantad" id="modalagregarempleado" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="modalLabel">Agregar Empleado</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Selecciona el empleado</label>
                                <select class="form-control seledos" style="width: 100%;" id="select2empleado">
                                    <option value="">Selecciona un empleado</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed tablaempleado">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-info " id="agregarempleadomodal">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="modal fade modalwebantad" id="modalagregarempleado" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Agregar Empleado</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Selecciona el empleado</label>
                                <select class="form-control seledos" style="width: 100%;" id="select2empleado">
                                    <option value="">Selecciona un empleado</option>

                                </select>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-2">
                            <label class="labeldatata">filtro por genero</label>
                            <select class="form-control input-sm" name="nr" id="generofiltro">
                                <!--  <option value="">Todos</option>
                                <option value="1">Masculino</option>
                                <option value="3">Femenino</option>-->
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="labeldatata">Calificación</label>
                            <select class="form-control input-sm" name="nr" id="calificacionfiltro">
                                <!--  <option value="">Todos</option>
                                <option value="1">Casado</option>
                                <option value="2">Concubinato</option>
                                <option value="3">Separado</option>
                                <option value="4">Soltero</option>-->
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="labeldatata">filtro por puesto</label>
                            <select class="form-control input-sm" name="nr" id="puestofiltro">
                                <!-- <option value="">Todos</option>
                                <option value="1">Promotor</option>
                                <option value="2">Supervisor</option>-->
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="labeldatata">filtro por estado</label>
                            <select class="form-control input-sm" name="nr" id="estadofiltro">
                                <!-- <option value="">Todos</option>
                                <option value="1">Promotor</option>
                                <option value="2">Supervisor</option>-->
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="labeldatata">filtro por municipio</label>
                            <select class="form-control input-sm" name="nr" id="municipiofiltro">
                                <!-- <option value="">Todos</option>
                                <option value="1">Promotor</option>
                                <option value="2">Supervisor</option>-->
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed tablaempleado" id="misempletable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="tipoencabezado" style="width:75px;">No de empleado</th>
                                        <th class="tipoencabezado">Nombre</th>
                                        <th class="tipoencabezado">Genero</th>
                                        <th class="tipoencabezado" style="width:45px;">Calificación</th>
                                        <th class="tipoencabezado">Puesto</th>
                                        <th class="tipoencabezado">Estado</th>
                                        <th class="tipoencabezado">Municipio</th>
                                        <th class="tipoencabezado" style="width:125px;">Seleccionar</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <!-- data-dismiss="modal" -->
                    <a href="#" class="btn btn-danger" id="cerrarmodaltablaempleadote">Cancelar</a>
                    <a href="#" class="btn btn-info " id="agregarempleadomodal">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modalwebantad" id="modalagregarempleadogrupo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Agregar Grupo de Empleados</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table tableagrupacionempleadotem">
                                <thead>
                                    <tr>
                                        <th><label>Nombre</label> </th>
                                        <th><label>Tipo</label></th>
                                        <th><label>Agregar</label></th>
                                        <th><label>Detalle</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label>Ruta Frecuente</label></td>
                                        <td><label>Agencia</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregargrupoempleadotem" grupoempleado="">Agregar</button> </label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Ruta MAFER </label></td>
                                        <td><label>Ruta de cliente</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregargrupoempleadotem" grupoempleado="">Agregar</button> </label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Ruta KACANG </label></td>
                                        <td><label>Ruta de proyecto</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregargrupoempleadotem" grupoempleado="">Agregar</button> </label></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modalwebantad" id="modalagregarempleadosolo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Agregar Empleado</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Selecciona el empleado</label>
                                <select class="form-control seledos" style="width: 100%;" id="select2empleadosolo">
                                    <option value="">Selecciona un empleado</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed tablaempleadosolo">
                                <tbody>
                                    <!--<tr>
                                      <td><label class="labelformu empleadomodal" clvemp="">Alejandra MArtinez</label></td>
                                      <td><button class="btn btn-sm btn-danger eliminarempleadomodalsolo" id="eliminarempleado"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-info " id="agregarempleadomodalsolo">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modalwebantad" id="modalagregarempleadogruposolo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Agregar Agrupación de Empleados</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table tableagrupacionempleadosolo">
                                <thead>
                                    <tr>
                                        <th><label>Nombre</label> </th>
                                        <th><label>Tipo</label></th>
                                        <th><label>Agregar</label></th>
                                        <th><label>Detalle</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label>Ruta Frecuente</label></td>
                                        <td><label>Agencia</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregarempleadosolo" grupoempleadosolo="">Agregar</button> </label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Ruta MAFER </label></td>
                                        <td><label>Ruta de cliente</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregarempleadosolo" grupoempleadosolo="">Agregar</button> </label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Ruta KACANG </label></td>
                                        <td><label>Ruta de proyecto</label></td>
                                        <td><label><button class="btn btn-sm btn-outline-primary agregarempleadosolo" grupoempleadosolo="">Agregar</button> </label></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                    <!--<a href="#" class="btn btn-info " id="agregarcentrosdetrabajomodal">Agregar</a>-->
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade modalwebantad" id="modalagregaractividadsolo" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Agregar Misión</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Selecciona una Misión</label>
                                <select class="form-control seledos" style="width: 100%;" id="select2actividad">
                                    <option value="">Selecciona una mision</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed tablaactividadsolo">
                                <tbody>
                                    <!--<tr>
                                      <td><label class="labelformu empleadomodal" clvemp="">Alejandra MArtinez</label></td>
                                      <td><button class="btn btn-sm btn-danger eliminarempleadomodalsolo" id="eliminarempleado"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-info " id="agregaractividadmodalsolo">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/editarPlan.js"></script>
